/**/*~
/**/.DS_Store
/**/.idea/
/**/chromedriver.log
/**/config.js
/**/nightwatch.conf.js
/**/node_modules/
/bootstrap/
/gen/
/jquery/
/lib/bootstrap-tourist.*
/lib/gif.*js*
/local/
/release/
/test/output/
/tests_output/
/tmp/
/web/
